In [1]:
import pyspark

# Question 1: Spark version

In [2]:
pyspark.__version__

'3.5.1'

# Upload fhv data for homework

In [3]:
from pyspark.sql import SparkSession

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-06 08:40:51--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T084052Z&X-Amz-Expires=300&X-Amz-Signature=3d56c842d2814bb3438e9eeb4d0809f31bff02eee005747953edee1319b6cb10&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-06 08:40:52--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T084052Z&X-Amz-Expires=300&X-Amz-Signature=3d56c842d2814bb3438e9eeb4d0809f31bff02eee005747953edee1319b6cb10&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  --.-KB/s    in 0.1s

2024-03-06 08:40:52 (194 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [5]:
!ls -lh

total 19M
-rw-rw-r-- 1 alex alex  19M Dec  2  2022 fhv_tripdata_2019-10.csv.gz
-rw-rw-r-- 1 alex alex  10K Mar  6 08:40 homework_note.ipynb
-rw-rw-r-- 1 alex alex  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r-- 1 alex alex 5.5K Mar  4 18:04 test_spark.ipynb
drwxr-xr-x 2 alex alex 4.0K Mar  4 14:46 zones

In [6]:
!gzip -dk fhv_tripdata_2019-10.csv.gz

In [7]:
!ls -lh

total 133M
-rw-rw-r-- 1 alex alex 115M Dec  2  2022 fhv_tripdata_2019-10.csv
-rw-rw-r-- 1 alex alex  19M Dec  2  2022 fhv_tripdata_2019-10.csv.gz
-rw-rw-r-- 1 alex alex  10K Mar  6 08:40 homework_note.ipynb
-rw-rw-r-- 1 alex alex  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r-- 1 alex alex 5.5K Mar  4 18:04 test_spark.ipynb
drwxr-xr-x 2 alex alex 4.0K Mar  4 14:46 zones

In [8]:
!rm fhv_tripdata_2019-10.csv.gz

In [9]:
!wc -l fhv_tripdata_2019-10.csv

1897494 fhv_tripdata_2019-10.csv

# Start spark session

In [10]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 08:41:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Upload fhv data to spark and check schema

In [11]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [12]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

# Take a small part of fhv data to check types and create a schema for spark

In [13]:
!head -n 101 fhv_tripdata_2019-10.csv > head.csv

In [14]:
import pandas as pd

In [15]:
df_pandas = pd.read_csv('head.csv')

In [17]:
df_pandas

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,NaN,B00014
...,...,...,...,...,...,...,...
95,B00310,2019-10-01 00:06:02,2019-10-01 00:14:04,264,242,NaN,B00310
96,B00310,2019-10-01 00:03:43,2019-10-01 00:07:26,264,213,NaN,B02534
97,B00310,2019-10-01 00:37:14,2019-10-01 00:51:58,264,241,NaN,B02879
98,B00310,2019-10-01 00:42:41,2019-10-01 00:54:42,264,213,NaN,B02875
99,B00310,2019-10-01 00:15:57,2019-10-01 00:18:27,264,147,NaN,B02879

In [18]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID                int64
DOlocationID                int64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [19]:
from pyspark.sql import types

In [20]:
schema = types.StructType([
    types.StructField("dispatching_base_num", types.StringType(), True),
    types.StructField("pickup_datetime", types.TimestampType(), True),
    types.StructField("dropOff_datetime", types.TimestampType(), True),
    types.StructField("PUlocationID", types.IntegerType(), True),
    types.StructField("DOlocationID", types.IntegerType(), True),
    types.StructField("SR_Flag", types.StringType(), True),
    types.StructField("Affiliated_base_number", types.StringType(), True)
])

In [21]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', LongType(), True), StructField('DOlocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

# Upload fhv data to spark with schema

In [22]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [23]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

# Save fhv data as partitioned parquet files and read with spark

In [24]:
df = df.repartition(6)

In [25]:
df.write.parquet('fhv/2020/10/')

In [26]:
df = spark.read.parquet('fhv/2020/10/')

In [27]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [28]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   NULL|                  NULL|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   NULL|                B01315|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   NULL|                B01984|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   NULL|                B03047|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   NULL|                B00932|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   NULL|                B01029|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   NULL|                B01087|
|              B03080|2019-10-05 14:49:10|2019-10-05 15:02:14|         264|          25|   NULL|                B02889|
|              B03160|2019-10-10 12:50:00|2019-10-10 13:34:00|          77|          77|   NULL|                B02882|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   NULL|                B02472|
|              B01051|2019-10-05 22:06:46|2019-10-05 22:16:57|         264|         182|   NULL|                B01051|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   NULL|                B02111|
|              B00254|2019-10-03 20:33:11|2019-10-03 21:52:16|         246|         265|   NULL|                B02356|
|              B00756|2019-10-16 10:58:00|2019-10-16 11:18:00|         264|         264|   NULL|                B00756|
|              B02249|2019-10-04 19:55:49|2019-10-04 20:08:25|         264|         192|   NULL|                B02249|
|              B03202|2019-10-13 07:39:33|2019-10-13 08:18:31|         264|         132|   NULL|                B03202|
|              B00419|2019-10-11 08:33:12|2019-10-11 08:46:22|         182|         185|   NULL|                B00419|
|              B02095|2019-10-09 11:16:00|2019-10-09 11:44:00|         264|         264|   NULL|                B02095|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   NULL|                B02930|
|              B01239|2019-10-07 20:08:15|2019-10-07 20:16:06|         264|          51|   NULL|                B02847|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [29]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

# Upload created data to temporary table to use with sql:

In [30]:
df.registerTempTable('fhv')

/home/alex/spark/spark-3.5.1-bin-hadoop3/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

# Question 3: Count records on 15th of October

In [31]:
spark \
.sql("""
SELECT COUNT(*) as trips
FROM fhv
WHERE to_date(pickup_datetime) = '2019-10-15'
""") \
.show()

+-----+
|trips|
+-----+
|62610|
+-----+

# Question 4: The longest trip in hours

In [45]:
spark \
.sql("""
SELECT dropOff_datetime,
pickup_datetime,
(cast(dropOff_datetime as LONG) - cast(pickup_datetime as LONG))/3600 as length_of_trip_in_hours
FROM fhv
ORDER BY length_of_trip_in_hours DESC
""") \
.show()

+-------------------+-------------------+-----------------------+
|   dropOff_datetime|    pickup_datetime|length_of_trip_in_hours|
+-------------------+-------------------+-----------------------+
|2091-10-11 18:30:00|2019-10-11 18:00:00|               631152.5|
|2091-10-28 09:30:00|2019-10-28 09:00:00|               631152.5|
|2029-11-01 00:13:00|2019-10-31 23:46:33|      87672.44083333333|
|2027-10-01 21:45:23|2019-10-01 21:43:42|      70128.02805555555|
|2020-10-18 00:00:00|2019-10-17 14:00:00|                 8794.0|
|2020-10-26 21:36:00|2019-10-26 21:26:00|      8784.166666666666|
|2019-12-30 13:02:08|2019-10-30 12:30:04|     1464.5344444444445|
|2019-12-08 07:54:33|2019-10-25 07:04:57|     1056.8266666666666|
|2019-12-08 07:21:11|2019-10-25 07:04:57|     1056.2705555555556|
|2019-11-03 15:20:28|2019-10-01 13:47:17|      793.5530555555556|
|2019-11-03 08:44:21|2019-10-01 07:21:12|      793.3858333333334|
|2019-11-03 14:58:51|2019-10-01 13:41:00|               793.2975|
|2019-11-03 19:43:13|2019-10-01 18:43:20|      792.9980555555555|
|2019-11-03 19:43:04|2019-10-01 18:43:46|      792.9883333333333|
|2019-11-03 07:58:46|2019-10-01 07:07:09|      792.8602777777778|
|2019-11-03 15:38:07|2019-10-01 14:49:28|      792.8108333333333|
|2019-11-03 06:23:36|2019-10-01 05:36:30|                792.785|
|2019-11-03 15:49:05|2019-10-01 15:02:55|      792.7694444444444|
|2019-11-03 06:53:15|2019-10-01 06:08:01|      792.7538888888889|
|2019-11-03 07:26:04|2019-10-01 06:41:17|      792.7463888888889|
+-------------------+-------------------+-----------------------+
only showing top 20 rows

[Stage 20:=============================>                            (1 + 1) / 2]

# Download taxi zone lookup data

In [35]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-06 08:44:03--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T084404Z&X-Amz-Expires=300&X-Amz-Signature=aeb6d7071ccfcf5631647765be6adc76bdad3b7a688877be964938897951ffe8&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-06 08:44:04--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T084404Z&X-Amz-Expires=300&X-Amz-Signature=aeb6d7071ccfcf5631647765be6adc76bdad3b7a688877be964938897951ffe8&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-06 08:44:04 (30.3 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

# Check schema and create a new one to taxi zone data

In [36]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [37]:
spark.createDataFrame(df_zones).schema

StructType([StructField('LocationID', LongType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [38]:
schema_taxi_zone = types.StructType([
            types.StructField('LocationID', types.IntegerType(), True), 
            types.StructField('Borough', types.StringType(), True), 
            types.StructField('Zone', types.StringType(), True), 
            types.StructField('service_zone', types.StringType(), True)
])

# Upload taxi zone data to spark with schema

In [39]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(schema_taxi_zone) \
    .csv('taxi_zone_lookup.csv')

# Save taxi zone data as parquet and read with spark

In [40]:
df_zones.write.parquet('zone')

In [41]:
df_zones = spark.read.parquet('zone/')

# Upload created data to temporary table to use with sql:

In [42]:
df_zones.registerTempTable('zone')

/home/alex/spark/spark-3.5.1-bin-hadoop3/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [43]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

# Question 6: Least frequent pickup location zone

In [44]:
spark \
.sql("""
SELECT COUNT(*) AS frequent_count,
puzone.Zone as pickup_zone
FROM fhv
LEFT JOIN zone as puzone
    ON fhv.PULocationID = puzone.LocationID
LEFT JOIN zone as dozone
    ON fhv.DOLocationID = dozone.LocationID
GROUP BY pickup_zone
ORDER BY frequent_count ASC
""") \
.show()

+--------------+--------------------+
|frequent_count|         pickup_zone|
+--------------+--------------------+
|             1|         Jamaica Bay|
|             2|Governor's Island...|
|             5| Green-Wood Cemetery|
|             8|       Broad Channel|
|            14|     Highbridge Park|
|            15|        Battery Park|
|            23|Saint Michaels Ce...|
|            25|Breezy Point/Fort...|
|            26|Marine Park/Floyd...|
|            29|        Astoria Park|
|            39|    Inwood Hill Park|
|            47|       Willets Point|
|            53|Forest Park/Highl...|
|            57|  Brooklyn Navy Yard|
|            62|        Crotona Park|
|            77|        Country Club|
|            89|     Freshkills Park|
|            98|       Prospect Park|
|           105|     Columbia Street|
|           110|  South Williamsburg|
+--------------+--------------------+
only showing top 20 rows